<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cheese.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,236},{93,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,84}}</string>
                <key>sourceSize</key>
                <string>{93,84}</string>
            </dict>
            <key>chocolate.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,76},{128,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,75}}</string>
                <key>sourceSize</key>
                <string>{128,75}</string>
            </dict>
            <key>pgrapes.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,153},{110,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,81}}</string>
                <key>sourceSize</key>
                <string>{110,81}</string>
            </dict>
            <key>rbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,0},{133,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,74}}</string>
                <key>sourceSize</key>
                <string>{133,74}</string>
            </dict>
            <key>rocky01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,245},{335,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,243}}</string>
                <key>sourceSize</key>
                <string>{335,243}</string>
            </dict>
            <key>rocky02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{335,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,243}}</string>
                <key>sourceSize</key>
                <string>{335,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home-sprites.pvr.ccz</string>
            <key>size</key>
            <string>{470,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:057d7429e4f7b8b7300609df87605cda$</string>
            <key>textureFileName</key>
            <string>home-sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
