<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cheese.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,226},{93,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,84}}</string>
                <key>sourceSize</key>
                <string>{93,84}</string>
            </dict>
            <key>chocolate.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,72},{128,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,75}}</string>
                <key>sourceSize</key>
                <string>{128,75}</string>
            </dict>
            <key>pgrapes.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,147},{108,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,79}}</string>
                <key>sourceSize</key>
                <string>{110,81}</string>
            </dict>
            <key>rbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,0},{131,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,72}}</string>
                <key>sourceSize</key>
                <string>{133,74}</string>
            </dict>
            <key>rocky01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{329,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{329,240}}</string>
                <key>sourceSize</key>
                <string>{335,242}</string>
            </dict>
            <key>rocky02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{329,212}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{329,212}}</string>
                <key>sourceSize</key>
                <string>{335,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home-sprites.pvr.ccz</string>
            <key>size</key>
            <string>{460,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e70b3491587656253f8ba1c3e394b15d$</string>
            <key>textureFileName</key>
            <string>home-sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
