<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cheese.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,164},{185,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,167}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>chocolate.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,333},{255,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,149}}</string>
                <key>sourceSize</key>
                <string>{255,149}</string>
            </dict>
            <key>pgrapes.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,0},{220,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,162}}</string>
                <key>sourceSize</key>
                <string>{220,162}</string>
            </dict>
            <key>rbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,590},{266,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,148}}</string>
                <key>sourceSize</key>
                <string>{266,148}</string>
            </dict>
            <key>rocky01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1384},{717,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,522}}</string>
                <key>sourceSize</key>
                <string>{717,522}</string>
            </dict>
            <key>rocky02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,860},{717,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,522}}</string>
                <key>sourceSize</key>
                <string>{717,522}</string>
            </dict>
            <key>start01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{770,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,428}}</string>
                <key>sourceSize</key>
                <string>{770,428}</string>
            </dict>
            <key>start02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{770,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,428}}</string>
                <key>sourceSize</key>
                <string>{770,428}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home-sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{992,1906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be02fc180569c709f670da928713bebd$</string>
            <key>textureFileName</key>
            <string>home-sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
