<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Action</key>
	<dict>
		<key>ActionType</key>
		<string>Sequence</string>
		<key>ChildActions</key>
		<array>
			<dict>
				<key>ActionType</key>
				<string>Parallel</string>
				<key>ChildActions</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>MoveTo</string>
						<key>PositionX</key>
						<string>W-</string>
						<key>PositionY</key>
						<string>StraightY</string>
						<key>Speed</key>
						<string>80</string>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>Rotate</string>
						<key>Duration</key>
						<string>7.0</string>
						<key>Angle</key>
						<string>720</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>ActionType</key>
				<string>RemoveMe</string>
			</dict>
		</array>
	</dict>
	<key>TouchReactions</key>
	<array>
		<dict>
			<key>TouchReactionType</key>
			<string>Actions</string>
			<key>Action</key>
			<dict>
				<key>ActionType</key>
				<string>Sequence</string>
				<key>ChildActions</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>Parallel</string>
						<key>ChildActions</key>
						<array>
							<dict>
								<key>ActionType</key>
								<string>TouchesOff</string>
							</dict>
							<dict>
								<key>ActionType</key>
								<string>ScaleBy</string>
								<key>Duration</key>
								<string>1.0</string>
								<key>Scale</key>
								<string>0.7</string>
							</dict>
							<dict>
								<key>ActionType</key>
								<string>MoveTo</string>
								<key>PositionX</key>
								<string>RemoteX</string>
								<key>PositionY</key>
								<string>RemoteY</string>
								<key>Duration</key>
								<string>1.0</string>
							</dict>
							<dict>
								<key>ActionType</key>
								<string>Rotate</string>
								<key>Duration</key>
								<string>1.0</string>
								<key>Angle</key>
								<string>720</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>Parallel</string>
						<key>ChildActions</key>
						<array>
							<dict>
								<key>ActionType</key>
								<string>EatStart</string>
							</dict>
							<dict>
								<key>ActionType</key>
								<string>EatEffect</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>Delay</string>
						<key>Duration</key>
						<string>0.1</string>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>EatEnd</string>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>RemoveMe</string>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>PositionY</key>
	<string>RandomY</string>
	<key>PositionX</key>
	<string>E+</string>
</dict>
</plist>
