<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Action</key>
	<dict>
		<key>ActionType</key>
		<string>Sequence</string>
		<key>ChildActions</key>
		<array>
			<dict>
				<key>ActionType</key>
				<string>MoveTo</string>
				<key>PositionX</key>
				<string>W-</string>
				<key>PositionY</key>
				<string>StraightY</string>
				<key>Speed</key>
				<string>50</string>
			</dict>
			<dict>
				<key>ActionType</key>
				<string>Repeat</string>
				<key>Times</key>
				<string>10000</string>
				<key>ChildAction</key>
				<dict>
					<key>ActionType</key>
					<string>Sequence</string>
					<key>ChildActions</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>MoveTo</string>
							<key>PositionX</key>
							<string>EScroll</string>
							<key>PositionY</key>
							<string>StraightY</string>
							<key>Speed</key>
							<string>0</string>
						</dict>
						<dict>
							<key>ActionType</key>
							<string>MoveTo</string>
							<key>PositionX</key>
							<string>W-</string>
							<key>PositionY</key>
							<string>StraightY</string>
							<key>Speed</key>
							<string>50</string>
							<key>FutureX</key>
							<string>EScroll</string>
							<key>FutureY</key>
							<string>StraightY</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
