<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>SpriteSheet</key>
			<string>home-sprites</string>
			<key>ImageFormat</key>
			<string>RGBA4444</string>
			<key>Background</key>
			<dict>
				<key>Red</key>
				<string>242</string>
				<key>Green</key>
				<string>220</string>
				<key>Blue</key>
				<string>219</string>
				<key>Opacity</key>
				<string>255</string>
			</dict>
			<key>Sprites</key>
			<array>
				<dict>
					<key>Name</key>
					<string>cheese.png</string>
					<key>PositionX</key>
					<string>210</string>
					<key>PositionY</key>
					<string>65</string>
					<key>Action</key>
					<dict>
						<key>ActionType</key>
						<string>RepeatForever</string>
						<key>ChildAction</key>
						<dict>
							<key>ActionType</key>
							<string>RotateBy</string>
							<key>Duration</key>
							<string>4.0</string>
							<key>Angle</key>
							<string>360</string>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
