<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>SpriteSheet</key>
			<string>home-sprites</string>
			<key>ImageFormat</key>
			<string>RGBA4444</string>
			<key>Background</key>
			<dict>
				<key>Red</key>
				<string>242</string>
				<key>Green</key>
				<string>220</string>
				<key>Blue</key>
				<string>219</string>
				<key>Opacity</key>
				<string>255</string>
			</dict>
			<key>Sprites</key>
			<array>
				<dict>
					<key>Name</key>
					<string>rocky01.png</string>
					<key>PositionX</key>
					<string>100</string>
					<key>PositionY</key>
					<string>65</string>
					<key>Action</key>
					<dict>
						<key>ActionType</key>
						<string>RepeatForever</string>
						<key>ChildAction</key>
						<dict>
							<key>ActionType</key>
							<string>Animate</string>
							<key>Sequence</key>
							<string>rocky%02d.png</string>
							<key>NumFrames</key>
							<string>2</string>
							<key>Delay</key>
							<string>0.5</string>
							<key>RestoreOriginalFrame</key>
							<false/>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>cheese.png</string>
					<key>PositionX</key>
					<string>210</string>
					<key>PositionY</key>
					<string>65</string>
					<key>Action</key>
					<dict>
						<key>ActionType</key>
						<string>RepeatForever</string>
						<key>ChildAction</key>
						<dict>
							<key>ActionType</key>
							<string>RotateBy</string>
							<key>Duration</key>
							<string>4.0</string>
							<key>Angle</key>
							<string>360</string>
						</dict>
					</dict>
					<key>TouchReactions</key>
					<array>
						<dict>
							<key>TouchReactionType</key>
							<string>Actions</string>
							<key>Action</key>
							<dict>
								<key>ActionType</key>
								<string>Sequence</string>
								<key>ChildActions</key>
								<array>
									<dict>
										<key>ActionType</key>
										<string>TouchesOff</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>1.0</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>1.0</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>1.0</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>1.0</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>TouchesOn</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RevertOriginalActions</string>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>pgrapes.png</string>
					<key>PositionX</key>
					<string>280</string>
					<key>PositionY</key>
					<string>65</string>
					<key>Action</key>
					<dict>
						<key>ActionType</key>
						<string>RepeatForever</string>
						<key>ChildAction</key>
						<dict>
							<key>ActionType</key>
							<string>RotateBy</string>
							<key>Duration</key>
							<string>4.0</string>
							<key>Angle</key>
							<string>360</string>
						</dict>
					</dict>
					<key>TouchReactions</key>
					<array>
						<dict>
							<key>TouchReactionType</key>
							<string>Actions</string>
							<key>Action</key>
							<dict>
								<key>ActionType</key>
								<string>Sequence</string>
								<key>ChildActions</key>
								<array>
									<dict>
										<key>ActionType</key>
										<string>TouchesOff</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>0.75</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>0.75</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>0.75</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>0.75</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>TouchesOn</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RevertOriginalActions</string>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>chocolate.png</string>
					<key>PositionX</key>
					<string>350</string>
					<key>PositionY</key>
					<string>65</string>
					<key>Action</key>
					<dict>
						<key>ActionType</key>
						<string>RepeatForever</string>
						<key>ChildAction</key>
						<dict>
							<key>ActionType</key>
							<string>RotateBy</string>
							<key>Duration</key>
							<string>4.0</string>
							<key>Angle</key>
							<string>360</string>
						</dict>
					</dict>
					<key>TouchReactions</key>
					<array>
						<dict>
							<key>TouchReactionType</key>
							<string>Actions</string>
							<key>Action</key>
							<dict>
								<key>ActionType</key>
								<string>Sequence</string>
								<key>ChildActions</key>
								<array>
									<dict>
										<key>ActionType</key>
										<string>TouchesOff</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>0.5</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>0.5</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>0.5</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>0.5</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>TouchesOn</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RevertOriginalActions</string>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>rbonetreat.png</string>
					<key>PositionX</key>
					<string>425</string>
					<key>PositionY</key>
					<string>65</string>
					<key>Action</key>
					<dict>
						<key>ActionType</key>
						<string>RepeatForever</string>
						<key>ChildAction</key>
						<dict>
							<key>ActionType</key>
							<string>RotateBy</string>
							<key>Duration</key>
							<string>4.0</string>
							<key>Angle</key>
							<string>360</string>
						</dict>
					</dict>
					<key>TouchReactions</key>
					<array>
						<dict>
							<key>TouchReactionType</key>
							<string>Actions</string>
							<key>Action</key>
							<dict>
								<key>ActionType</key>
								<string>Sequence</string>
								<key>ChildActions</key>
								<array>
									<dict>
										<key>ActionType</key>
										<string>TouchesOff</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>0.25</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>0.25</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>0.25</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RotateBy</string>
										<key>Duration</key>
										<string>0.25</string>
										<key>Angle</key>
										<string>360</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>TouchesOn</string>
									</dict>
									<dict>
										<key>ActionType</key>
										<string>RevertOriginalActions</string>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
