<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,0},{282,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,1536}}</string>
                <key>sourceSize</key>
                <string>{282,1536}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{692,380}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{692,380}}</string>
                <key>sourceSize</key>
                <string>{696,384}</string>
            </dict>
            <key>cheese.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1538},{185,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,167}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>chocolate.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1686},{255,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,149}}</string>
                <key>sourceSize</key>
                <string>{255,149}</string>
            </dict>
            <key>cupcake.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1162},{228,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{228,139}}</string>
                <key>sourceSize</key>
                <string>{230,141}</string>
            </dict>
            <key>dkgbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1162},{264,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{264,148}}</string>
                <key>sourceSize</key>
                <string>{266,148}</string>
            </dict>
            <key>ggrapes.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1837},{216,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{216,158}}</string>
                <key>sourceSize</key>
                <string>{220,162}</string>
            </dict>
            <key>ltgbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1162},{264,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{264,148}}</string>
                <key>sourceSize</key>
                <string>{266,148}</string>
            </dict>
            <key>pgrapes.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1303},{216,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{216,158}}</string>
                <key>sourceSize</key>
                <string>{220,162}</string>
            </dict>
            <key>phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1707},{165,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{165,126}}</string>
                <key>sourceSize</key>
                <string>{167,128}</string>
            </dict>
            <key>rbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1162},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{264,146}}</string>
                <key>sourceSize</key>
                <string>{266,148}</string>
            </dict>
            <key>rocky01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1538},{568,414}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,3},{568,414}}</string>
                <key>sourceSize</key>
                <string>{744,438}</string>
            </dict>
            <key>rocky02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{692,392}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{692,392}}</string>
                <key>sourceSize</key>
                <string>{744,438}</string>
            </dict>
            <key>rockyBite.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,776},{684,384}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{684,384}}</string>
                <key>sourceSize</key>
                <string>{744,438}</string>
            </dict>
            <key>tanbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1538},{262,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{262,146}}</string>
                <key>sourceSize</key>
                <string>{266,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sample-sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d408b04a3ce7050967f6189441039802$</string>
            <key>textureFileName</key>
            <string>sample-sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
