<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anti.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,305},{119,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{119,108}}</string>
                <key>sourceSize</key>
                <string>{121,110}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{141,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,768}}</string>
                <key>sourceSize</key>
                <string>{141,768}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{346,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{346,190}}</string>
                <key>sourceSize</key>
                <string>{348,192}</string>
            </dict>
            <key>cheese.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,537},{93,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,84}}</string>
                <key>sourceSize</key>
                <string>{93,84}</string>
            </dict>
            <key>chocolate.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,228},{128,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,75}}</string>
                <key>sourceSize</key>
                <string>{128,75}</string>
            </dict>
            <key>cont01.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,577},{270,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,150}}</string>
                <key>sourceSize</key>
                <string>{270,150}</string>
            </dict>
            <key>cont02.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,387},{268,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{268,148}}</string>
                <key>sourceSize</key>
                <string>{270,150}</string>
            </dict>
            <key>cupcake.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,332},{115,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,71}}</string>
                <key>sourceSize</key>
                <string>{115,71}</string>
            </dict>
            <key>dkgbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,152},{133,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,74}}</string>
                <key>sourceSize</key>
                <string>{133,74}</string>
            </dict>
            <key>ggrapes.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,496},{108,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,79}}</string>
                <key>sourceSize</key>
                <string>{110,81}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,387},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,100}}</string>
                <key>sourceSize</key>
                <string>{94,102}</string>
            </dict>
            <key>ltgbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,76},{133,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,74}}</string>
                <key>sourceSize</key>
                <string>{133,74}</string>
            </dict>
            <key>pgrapes.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,415},{108,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,79}}</string>
                <key>sourceSize</key>
                <string>{110,81}</string>
            </dict>
            <key>phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,503},{84,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{84,64}</string>
            </dict>
            <key>rbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,0},{133,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,74}}</string>
                <key>sourceSize</key>
                <string>{133,74}</string>
            </dict>
            <key>rocky01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,770},{286,207}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,2},{286,207}}</string>
                <key>sourceSize</key>
                <string>{372,219}</string>
            </dict>
            <key>rocky02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{346,197}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{346,197}}</string>
                <key>sourceSize</key>
                <string>{372,219}</string>
            </dict>
            <key>rockyBite.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,192},{342,193}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{342,193}}</string>
                <key>sourceSize</key>
                <string>{372,219}</string>
            </dict>
            <key>start01.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,351},{270,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,150}}</string>
                <key>sourceSize</key>
                <string>{270,150}</string>
            </dict>
            <key>start02.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,503},{268,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{268,148}}</string>
                <key>sourceSize</key>
                <string>{270,150}</string>
            </dict>
            <key>tanbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,199},{131,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,74}}</string>
                <key>sourceSize</key>
                <string>{133,74}</string>
            </dict>
            <key>try01.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,199},{270,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,150}}</string>
                <key>sourceSize</key>
                <string>{270,150}</string>
            </dict>
            <key>try02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,729},{268,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{268,148}}</string>
                <key>sourceSize</key>
                <string>{270,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sample-sprites.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:728c51760bb092f93dd4b5e021e6a9a3$</string>
            <key>textureFileName</key>
            <string>sample-sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
