<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anti.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,448},{238,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{238,216}}</string>
                <key>sourceSize</key>
                <string>{242,220}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{282,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,1536}}</string>
                <key>sourceSize</key>
                <string>{282,1536}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,0},{692,380}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{692,380}}</string>
                <key>sourceSize</key>
                <string>{696,384}</string>
            </dict>
            <key>cheese.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,807},{185,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,167}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>chocolate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,394},{255,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,149}}</string>
                <key>sourceSize</key>
                <string>{255,149}</string>
            </dict>
            <key>cont01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,994},{537,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{537,298}}</string>
                <key>sourceSize</key>
                <string>{539,300}</string>
            </dict>
            <key>cont02.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,994},{535,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{535,296}}</string>
                <key>sourceSize</key>
                <string>{539,300}</string>
            </dict>
            <key>cupcake.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,666},{228,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{228,139}}</string>
                <key>sourceSize</key>
                <string>{230,141}</string>
            </dict>
            <key>dkgbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,150},{264,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{264,148}}</string>
                <key>sourceSize</key>
                <string>{266,148}</string>
            </dict>
            <key>ggrapes.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1831},{216,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{216,158}}</string>
                <key>sourceSize</key>
                <string>{220,162}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1831},{181,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{181,200}}</string>
                <key>sourceSize</key>
                <string>{187,204}</string>
            </dict>
            <key>ltgbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{264,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{264,148}}</string>
                <key>sourceSize</key>
                <string>{266,148}</string>
            </dict>
            <key>pgrapes.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1831},{216,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{216,158}}</string>
                <key>sourceSize</key>
                <string>{220,162}</string>
            </dict>
            <key>phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1831},{165,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{165,126}}</string>
                <key>sourceSize</key>
                <string>{167,128}</string>
            </dict>
            <key>rbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,300},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{264,146}}</string>
                <key>sourceSize</key>
                <string>{266,148}</string>
            </dict>
            <key>rocky01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1538},{568,414}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,3},{568,414}}</string>
                <key>sourceSize</key>
                <string>{744,438}</string>
            </dict>
            <key>rocky02.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,0},{692,392}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{692,392}}</string>
                <key>sourceSize</key>
                <string>{744,438}</string>
            </dict>
            <key>rockyBite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,382},{684,384}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{684,384}}</string>
                <key>sourceSize</key>
                <string>{744,438}</string>
            </dict>
            <key>start01.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,694},{537,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{537,298}}</string>
                <key>sourceSize</key>
                <string>{539,300}</string>
            </dict>
            <key>start02.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,994},{535,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{535,296}}</string>
                <key>sourceSize</key>
                <string>{539,300}</string>
            </dict>
            <key>tanbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,651},{262,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{262,146}}</string>
                <key>sourceSize</key>
                <string>{266,148}</string>
            </dict>
            <key>try01.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,394},{537,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{537,298}}</string>
                <key>sourceSize</key>
                <string>{539,300}</string>
            </dict>
            <key>try02.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1533},{535,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{535,296}}</string>
                <key>sourceSize</key>
                <string>{539,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sample-sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82b24f51dc55705d12c07d6a5f315a50$</string>
            <key>textureFileName</key>
            <string>sample-sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
