<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,304},{129,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,640}}</string>
                <key>sourceSize</key>
                <string>{129,640}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,199},{346,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{346,190}}</string>
                <key>sourceSize</key>
                <string>{348,192}</string>
            </dict>
            <key>cheese.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,586},{93,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,84}}</string>
                <key>sourceSize</key>
                <string>{93,84}</string>
            </dict>
            <key>chocolate.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,946},{128,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,75}}</string>
                <key>sourceSize</key>
                <string>{128,75}</string>
            </dict>
            <key>cupcake.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,946},{115,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,71}}</string>
                <key>sourceSize</key>
                <string>{115,71}</string>
            </dict>
            <key>dkgbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,152},{133,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,74}}</string>
                <key>sourceSize</key>
                <string>{133,74}</string>
            </dict>
            <key>ggrapes.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,782},{108,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,79}}</string>
                <key>sourceSize</key>
                <string>{110,81}</string>
            </dict>
            <key>ltgbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,76},{133,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,74}}</string>
                <key>sourceSize</key>
                <string>{133,74}</string>
            </dict>
            <key>pgrapes.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,672},{108,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,79}}</string>
                <key>sourceSize</key>
                <string>{110,81}</string>
            </dict>
            <key>rbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{133,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,74}}</string>
                <key>sourceSize</key>
                <string>{133,74}</string>
            </dict>
            <key>rocky01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{286,207}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,2},{286,207}}</string>
                <key>sourceSize</key>
                <string>{372,219}</string>
            </dict>
            <key>rocky02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{346,197}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{346,197}}</string>
                <key>sourceSize</key>
                <string>{372,219}</string>
            </dict>
            <key>rockyBite.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,391},{342,193}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{342,193}}</string>
                <key>sourceSize</key>
                <string>{372,219}</string>
            </dict>
            <key>tanbonetreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,228},{131,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,74}}</string>
                <key>sourceSize</key>
                <string>{133,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sample-sprites.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac5caf67aba10ded43457fcbe1b21d64$</string>
            <key>textureFileName</key>
            <string>sample-sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
